name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - "trax-backend/**"

  workflow_dispatch:
    inputs:
      versionName:
        description: "Version Name to deploy"
        required: true
      versionDescription:
        description: "Version Description to deploy"
        required: true

env:
  # Add your API Key as a Secret in your Repository (Do NOT add it here)
  # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets
  MOTIA_API_KEY: ${{ secrets.MOTIA_API_KEY }}
  # Fill your environment ID here
  MOTIA_ENV_ID: __FILL YOUR ENVIRONMENT ID HERE__

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name || github.ref }}

      - name: Set VERSION_NAME and DESCRIPTION
        id: meta
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "VERSION_NAME=${{ github.event.inputs.versionName }}" >> $GITHUB_ENV
            echo "VERSION_DESCRIPTION=${{ github.event.inputs.versionDescription }}" >> $GITHUB_ENV
          else
            echo "VERSION_NAME=${GITHUB_SHA::7}" >> $GITHUB_ENV
            echo "VERSION_DESCRIPTION=${{ github.event.head_commit.message }}" >> $GITHUB_ENV
          fi

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: npm ci

      # Replace MY_SECRET with your secret
      # Add as many as you need
      # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets
      - name: Create Env file
        run: |
          echo "DB_URL=${{ secrets.DB_URL }}" >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env

      - name: Deploy using Motia Cloud
        run: |
          npx motia cloud deploy \
            --api-key ${{ env.MOTIA_API_KEY }} \
            --environment-id ${{ env.MOTIA_ENV_ID }} \
            --version-name "${{ env.VERSION_NAME }}" \
            --version-description "${{ env.VERSION_DESCRIPTION }}" \
            --env-file .env
